<%- include("header") -%>
<h2>pagina aleatória pra testar o artificio de include e layout</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi facere nihil, expedita dolorem, placeat aspernatur fugit et qui vel omnis debitis iure. Libero, quaerat? Provident quos rerum nihil quae hic.</p>
<%- include("footer") -%>
