<%- include("header") -%>

<div class="box" id="heading">
          <h1>Confessionário</h1>
    </div>

    <div class="box">
        <% if(newTask.length > 0){ %>
            <% newTask.forEach((task)=>{ %>
            <div>
                <p><%= task.name %> </p>
            </div>
            <hr><hr>
                <%})%>
        <%}%>
    
            <form action="/conf" class="item" method="POST">
                <input placeholder="Bota pra fora meu bom" type="text" name="newTask" autocomplete="off">
                <button name="conf" value="confessionario" type="submit">+</button>
                </form>
        </div>

<%- include("footer") -%>
        